@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000319;
  --foreground: #171717;
  --lightblue: #3b82f6;
  --purple: #7388e4;
}

html{
  scroll-behavior: smooth;
}


main{
  scroll-snap-type: y mandatory ;
}

section{
  scroll-snap-align: center;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .border-gradient {
    @apply bg-gradient-to-r from-blue-800 via-green-800 to-blue-500;
  }
 
  .bottom_top_gradient{
    @apply after:bg-gradient-to-t after:absolute after:-bottom-10 after:w-full after:h-32  
    from-background via-blue-900/55 to-transparent 
  }
  .blurred{
    @apply before:absolute before:w-16 before:h-[80%] before:top-2 before:left-1 before:-rotate-45
    before:content-[''] before:bg-[linear-gradient(transparent,#4ebb8494,transparent)]  before:shadow-2xl before:z-10
    before:filter before:blur-3xl
  }
  .blurred_blue{
    @apply before:bg-[linear-gradient(transparent,blue,transparent)]
  }
  .about_box{
    @apply font-bold font-roboto border hover:skew-x-2 transition-all  border-gray-500/40 rounded-xl backdrop-blur-xl overflow-hidden p-3 cursor-pointer shadow-lg hover:shadow-slate-800
  }
  .section{
    @apply min-h-screen flex justify-center items-center w-full relative
    before:absolute before:w-16 before:h-1/2 before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:rotate-45
    before:content-[''] before:bg-[linear-gradient(transparent,#4ebb849e,transparent)]  before:shadow-2xl before:-z-10
    before:filter before:blur-3xl overflow-hidden
  }
}


.fallback{
  transition: all .5s ease-in-out;
}
.line_up{
  transform: perspective(1000px) rotateX(-45deg);
  transform-origin: center bottom;
}
.text_up{
  transform: perspective(-1400px) rotateX(-45deg);
  transform-origin: bottom center;
}
.circle_down{
  transform: perspective(700px) rotateX(60deg);
  transform-origin: bottom center;
}
.fallback:hover{
  transform: perspective(700px) translateY(-30px) rotateX(15deg);
  transform-origin: center bottom;
}
::-webkit-scrollbar{
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb{
  background: var(--lightblue);
}